{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <a href="{% url 'listing' listing.id %}">
        <div class="my-3 card" style="width: 25rem;">
            <img src={{ listing.image }} class="card-img-top img-thumbnail" alt={{ listing.title }}>
            <div class="card-body">
            <h5 class="card-title">{{ listing.title }}</h5>
            <p class="card-text">{{ listing.description }}</p>
            <h5 class="card-title">Price: {{ listing.price }}$</h5>
            </div>
        </div></a>
    {% endfor %}
{% endblock %}