{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ auction.title }}</h2>
    <img src={{ auction.image }}>
    <h3>{{ auction.description }}</h3>
    <h1>${{ auction.price }}</h1>
    <h4>number of bids:</h4>
    {% if not auction.closed %}
        {% if close_input %}
            <div>
            <form action="{% url 'close_auction' auction.id %}" method="post">
                {% csrf_token %}
                    <input type="submit" value="Close">
                </form>
            </div>
        {% endif %}
        {% if in_wl == False %}
            <div>
            <form action="{% url 'addtowl' auction.id %}" method="post">
                {% csrf_token %}
                    <input type="submit" value="Add To Watchlist">
                </form>
            </div>
        {% elif in_wl %}
            <div>
            <form action="{% url 'rmwl' auction.id %}" method="post">
                {% csrf_token %}
                    <input type="submit" value="Remove From Watchlist">
                </form>
            </div>
        {% endif %}
        <div>
            <form action="{% url 'bid' auction.id %}" method="post">
                {% csrf_token %}
                {{ bidform }}
                {{ message }}
                <input type="submit">
            </form>
        </div>
        <div>
            <form action="{% url 'comment' auction.id %}" method="post">
                {% csrf_token %}
                {{ commentform }}
                {{ commentmessage }}
                <input type="submit">
            </form>
        </div>
    {% else %}
        <h1> Winner: {{ auction.winner.username }}</h1>
    {% endif %}
    <div>
        {% for comment in comments %}
            <h2> {{ comment.user.username }}</h2>
            <h4>{{ comment.text }}</h4>
        {% endfor %}
    </div>

{% endblock %}