{% extends "auctions/layout.html" %}

{% block body %}
    <h2>WatchList</h2>

    {% if listings %}
        {% for listing in listings %}
            <a href="{% url 'listing' listing.id %}"><div>
                <img src={{ listing.image }} alt={{ listing.title }} width="150" height="250">
                <strong>{{ listing.title }}</strong>
                <b>{{ listing.price }}$</b>
                <b>{{ listing.description }}</b>
        {% endfor %}
            </div></a>
    {% else %}
        <h1>Your WatchList Is Empty, Go Add Some</h1>
    {% endif %}
{% endblock %}